<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" href="css/login.css" />
        <link rel="icon" href="login.png" />
        <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script defer src="js/login.js"></script>
    </head>
    <body>
        <div class="box">
            <h1>Welcome</h1>
            <h3>Let's get started</h3>
            <input type="text" id="name" name="name" placeholder="Username" autocomplete="false" />
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                autocomplete="false"
            />
            <input type="submit" id="login" value="Login" />
        </div>
        <p id="message"></p>
    </body>
</html>
